<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <a class="navbar-brand" href="/" style="margin: 1rem; font-family: 'Poppins',sans-serif;">메인</a>
    <form class="d-flex" role="search" action="/search" method="get">
        <input class="form-control me-2" type="search" placeholder="검색하기" aria-label="Search" style="margin: 1rem;" name="search" required>
        <button class="btn btn-outline-success" type="submit" style="margin: 1rem; width: 100px;" >검색</button>
      </form>
      <li class="nav-item">
        <button class="btn btn-outline-success" type="button" style="margin: 1rem; width: 100px;" onclick="location.href='/search/tag'">태그 검색</button>
      </li>
      <div class="d-flex">
          <% if(locals.name){%>
            <li class="nav-item">
              <a href="/ticket" class="nav-link active" style="margin: 1rem;">매표소</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" style="margin: 1rem;" href="/profile"><%= locals.name%>님</a>
            </li>
        <button type="button" class="btn btn-success" style="margin:1rem;" onclick="location.href='/logout'">로그아웃</button>
        <% }else{%>
        <button type="button" class="btn btn-success" style="margin:1rem;" onclick="location.href='/login'">로그인</button>
        <button type="button" class="btn btn-danger" style="margin: 1rem;" onclick="location.href='/register'">회원가입</button>
        <% } %>
        </ul>
      </div>
    </div>
  </nav>