<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%-include('navbar.ejs')%>
  <%-include('profileNav.ejs')%>
  이름:<%=locals.name%><br>
  보유 티켓:<%=locals.ticket | 0 %>개 <a href="/ticket">충전하기</a> <br>
  <a href="/login/reset">아이디 삭제</a>
</body>
</html>