<style>
  th{
    font-size: 30px;
    padding: 1rem;
    font-family: 'Poppins,sans-serif';
  }
</style>
  <table  style="margin: 0 auto;">
    <th>
      <a href="/profile">내 정보</a>
    </th>
    <th>
      <a href="/profile/mine">내가 쓴 소설</a> 
    </th>
    <th>
      <a href="/profile/liked">좋아요를 누른 소설</a>       
    </th>
  </table>