<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
  <%-include('navbar.ejs')%>

  <div style="text-align:center;">
    <h3 style="margin: 20px;">
      <strong>
        <%= locals.error || "" %>
      </strong>
      </h3>
    <h1 style="margin:5%">로그인</h1>
    <form action="/login" method="post" autocomplete="off" style="text-align: center;" >
      <div class="mb-3" style="display: flex; justify-content: center;">
      <input type="text" class="form-control" style="width: 30%; text-align: center;" name="id" placeholder="아이디" required value=<%= locals.id || "" %>>
      </div>
      <div class="mb-3" style="display: flex; justify-content: center;">
        <input type="password" class="form-control" style="width: 30%; text-align:center;" name="password" placeholder="비밀번호" required value=<%= locals.password || "" %> >
      </div>
      <button type="submit" class="btn btn-success">로그인하기</button>
    </form>  

  </div>
 
  
</body>
</html>